@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Source_Sans_Pro";
  src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-family: 500;
}

@layer base {
  * {
    @apply font-Source_Sans_Pro;
  }

  body {
    @apply bg-c_primary text-white;
  }

  /* Modifying the scroll bar */
  ::-webkit-scrollbar {
    width: 16px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }
}

:root {
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@layer components {
  .input {
    @apply h-10 w-full border-b-2 border-c_gary bg-transparent text-gray-900 placeholder-transparent scrollbar-hide focus:border-c_gary focus:outline-none;
  }

  .input_label {
    @apply absolute left-0 -top-3.5 text-c_gary  transition-all peer-placeholder-shown:top-0 peer-placeholder-shown:text-base peer-placeholder-shown:text-c_gary peer-focus:-top-3.5 peer-focus:text-sm peer-focus:text-c_gary;
  }

  .error {
    @apply text-xs text-c_red first-letter:capitalize;
  }

  .active {
    @apply bg-c_yellow;
  }

  .icon {
    @apply h-6 w-6;
  }

  /* drop down */
  .dropdown_content {
    @apply absolute top-[calc(100%)+0px] right-0 overflow-hidden rounded-xl   bg-white px-[2px] py-[10px] shadow;
  }
  .dropdown_content {
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
  }
  .dropdown_content.active {
    transform: scale(1);
    transition: transform 0.5s var(--transition-cubic);
  }

  /* widget */
  .widget-wrapper {
    @apply invisible fixed top-0 -right-full  z-50 grid h-full  w-full  transform place-items-end bg-[#00000080] pt-4 transition-all duration-300 ease-in;
  }

  .widget-wrapper.show {
    @apply visible right-0 z-40;
  }

  .widget {
    @apply relative h-fit max-w-[500px] overflow-clip rounded-tl-[2rem] bg-white;
  }

  .currentMessage {
    @apply text-sm text-gray-400;
  }

  .sender_message_container {
    @apply ml-[auto]  md:ml-[2rem];
  }

  .receiver_message_container {
    @apply mr-[auto] md:mr-[2rem];
  }

  .receiver_message_body {
    @apply rounded-xl  rounded-bl-none bg-c_gary/20 px-2;
  }

  .sender_message_body {
    @apply rounded-xl  rounded-br-none bg-c_yellow/20 px-2;
  }

  .modal-wrapper {
    @apply invisible fixed top-0 left-0 z-50  grid h-full w-full  scale-[0] transform place-items-center bg-[#00000080] pt-32 transition-all duration-300 ease-in;
  }

  .modal-wrapper.show {
    @apply visible z-50 scale-[1];
  }

  .modal {
    @apply relative h-fit max-w-[650px] overflow-clip rounded-3xl bg-white;
  }
}
